@font-face {
    font-family: 'ArcadeClassic'; /*a name to be used later*/
    src: url('ARCADECLASSIC.ttf'); /*URL to font*/
}
#dino {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    color: #9CA0A6;
    width: 1000px;
    margin: 0 auto;
}
* {
    font-family: ArcadeClassic, serif;
}

.fullscreen-btn {
    background-image: url("../button.png");
    width: 128px;
    border: none;
    height: 64px;
    color: white;
    font-size: 20px;
    display: block;
}
.fullscreen-btn:hover {
    background-color: white;
}

#dino > span,
#dino > div {
    position: absolute;
}

.hidden {
    display: none;
}

.press-to-play {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    right: 20px;
    top: 20px;
    font-family: monospace;
    font-size: 16px;
}

.highscore {
    opacity: .75;
}

.game-over {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-over-text {
    font-size: 24px;
    letter-spacing: 5px;
    font-family: monospace;
}

.replay-button {
    margin-top: 10px;
    font-size: 18px;
}